.contactCard {
  width: 400px;
  background-color: #f4f4f4;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
}

.contactCard img {
  width: 200px;
  height: 200px;
}

.myHeader {
  background-color: #f4f4f4;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  text-align: center;
  display: flex;
}

.myHeader ul {
  list-style: none;
}

.myHeader li {
  display: inline-block;
  margin: 0 10px;
}

.myHeader > img {
  width: 200px;
  height: 200px;
}

.contact-card {
  display: flex;
}
